:root{
    /*Cores*/
    --c_principal: #fe1010;
    --c_secundaria: #555555;
    --c_auxiliar: #777;
    
    /*Auxiliares*/
    --box-shadow: 7px 7px 7px rgba(1, 1, 1, 0.4);
    --titulo: monospace;
    --fonte-principal: Arial;
}

.tec{
    margin-top: 4%;
    justify-content: center;
}
.container-cursos{
    display: flex;
    justify-content: center;
    gap: 2%;
}
.curso{
    width: 28%;
}
.curso img{
    border: 1px solid var(--c_principal);
    width: 80%;
    border-radius: 15px;
}
.curso p{
    max-width: 78%;
    font-family: var(--fonte-principal);
    text-align: center;
}