:root{
    /*Cores*/
    --c_principal: #fe1010;
    --c_secundaria: #555555;
    --c_auxiliar: #777;
    
    /*Auxiliares*/
    --box-shadow: 7px 7px 7px rgba(1, 1, 1, 0.4);
    --titulo: monospace;
    --fonte-principal: Arial;
}

.tec{
    margin-top: 4%;
    justify-content: center;
}
.container-cursos{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 6%;
}
.curso {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza img e p horizontalmente */
}
.curso img{
    border: 1px solid var(--c_principal);
    width: 80%;
    border-radius: 15px;
}
.curso p{
    width: 80%;
    font-family: var(--fonte-principal);
    text-align: center;
}

.mais-info{
    width: 100%;
    background-color: var(--c_principal);
    margin-top: 5%;
    padding: 10px;
    padding-block: 20px;
}
.mais-info p{
    color: white;
    font-family: var(--fonte-principal);
    font-size: 130%;
}