:root{
    /*Cores*/
    --c_principal: #fe1010;
    --c_secundaria: #555555;
    --c_auxiliar: #777;
    
    /*Auxiliares*/
    --box-shadow: 7px 7px 7px rgba(1, 1, 1, 0.4);
    --titulo: monospace;
    --fonte-principal: Arial;
}
.conquistas{
    margin-top: 7%;
    background-color: #fe101030;
    padding-block: 20px;
}
.conquistas h2{
    text-align: center;
    color: #3d3d3d;
    font-family: var(--titulo);
    font-size: 230%;
}
.popularidade{
    margin-top: 1%;
    margin-bottom: 1%;
}
.container-popularidade{
    display: flex;
    justify-content: space-around;
}
.container-popularidade img{
    width: 100%;
    border-radius: 10px;
}
.container-popularidade p{
    max-width: 60%;
    font-family: var(--fonte-principal);
    font-size: 120%;

}
.img{
    width: 30%;
    padding: 10px;
    background-color: var(--c_principal);
    border-radius: 10px;
}