/*Variáveis do CSS*/
:root{
    /*Cores*/
    --c_principal: #fe1010;
    --c_secundaria: #555555;
    --c_auxiliar: #777;
    
    /*Auxiliares*/
    --box-shadow: 7px 7px 7px rgba(1, 1, 1, 0.4);
    --titulo: monospace;
    --fonte-principal: Arial;
}
/*
==================================================================================================
Estilo Geral
==================================================================================================
*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.lista-links{
    display: flex;
    gap: 2%;
}
h1{
    font-family: var(--titulo);
    text-align: center;
    margin-top: 5%;
    color: rgb(73, 73, 73);
    font-size: 200%;
}

/*
==================================================================================================
Header
==================================================================================================
*/
/*Empresa*/
header{
    margin-bottom: 1%;
}
.logo-header{
    width: 200px;
}
.container-header{
    border-bottom: 1px solid var(--c_auxiliar);
    display: flex;
    justify-content: space-around;
    margin-bottom: 0%;
}
/*redes sociais*/
.redes-sociais-header{
    margin-block: auto;
    display: flex;
    gap: 2%;
}
.icones-header{
    font-size: 190%;
    color: var(--c_principal);
    transition: 0.5s ease-in-out;
}
.icones-header:hover{
    transform: scale(1.3);
    color: #a90b0b;
    cursor: pointer;
}

/*Barra de pesquisa*/
.pesquisa{
    margin-block: auto;
    display: flex;
    align-items: center;
    gap: 0px;
}
#enviar{
    border: 1px solid var(--c_auxiliar);
    border-right: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: transparent;
    font-size: 158%;
    font-weight: bold;
    height: 40px;
    color: var(--c_principal);
    transition: 0.4s ease-in-out;
    padding-inline: 10px;
}
#enviar:hover{
    background-color: var(--c_principal);
    color: white;
    cursor: pointer;
}
#barra-pesquisa{
    width: 120%;
    height: 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: solid 1px var(--c_auxiliar);
}

/*Nav bar*/
nav{
    background-color: var(--c_principal);
    margin: 0;
    margin-top: -1.2%;
}
.links-empresa{
    list-style-type: none;
    display: flex;
    align-items: stretch;
    padding: 0;
    gap: 0;
    justify-content: center;
}
.link-empresa{
    color: white;
    font-family: var(--fonte-principal);
    text-decoration: none;
    font-weight: 300;
    font-size: 109%;
    /* margin-block: 8px; */
}
.link-ul{
    display: flex;
    align-items: center;
    padding-inline: 20px;
    padding-block: 14px;
    border-right: 1px solid rgba(255, 255, 255, 0.572);
}
.link-ul:last-child {
    border-right: none; 
}

/*
==================================================================================================
Footer
==================================================================================================
*/
footer{
    background-color: var(--c_principal);
    color: white;
    font-family: var(--fonte-principal);
    padding: 3%;
    text-align: center;
    margin-top: 10%;
}